@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --primary-color:#4F46E5;
    --darker-color:#4C1D95;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    

}

main{
    max-width: 600px;
    margin: auto;
}

.primary-head{
    font-size: 2.3rem;
}

.secondary-head{
    font-size: 1.7rem;
}

.description{
    font-size: 1.5rem;
}

.btn-back{
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: var(--primary-color);
    background-color: white;
    padding: 0.3rem;
    cursor: pointer;
}

.btn-container{
    font-size: 1.2rem;
    padding-top: 00.7rem;
    text-align: center;
    /* padding: 2rem; */
    background-color: var(--primary-color);
    color: white;
    width:10rem;
    height:5rem ;
    border-radius: 00.5rem;

}

.link-btncontainer{
    text-decoration: none;
}

.link-btncontainer :hover{
    background-color: var(--darker-color);
}

.btn-submit{
    font-size: 1.5rem;
    background-color: var(--primary-color);
    color: white;
    padding: 00.3rem;
    border-radius: 0.5rem;
}

.label{
    font-size: 1.5rem;
}

.input-container{
    font-size: 1.5rem;
    width: 20%;
}

/* ==================================
    component library part over
=================================== */


.main-menu{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}


/* ================
anglesTri
=============== */



.main{
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 5rem;
}


.input-side{
    font-size: 1.3rem;
    background-color: var(--primary-color);
    padding: 00.5rem;
    margin: 0 0.7rem;
    color: white;
    text-align: center;
}

.submit-side{
    background-color: var(--primary-color);
    color: white;
    font-size: 1.3rem;
    padding: 0.5rem;
    display: block;
    margin: auto;
    margin-top: 2rem;
    border-radius: 0.5rem;

}

.output-box{
    margin: auto;
    font-size: 1.5rem;
    margin-top: 2rem;
    background-color: var(--primary-color);
    padding: 1rem;
    width: 70%;
    color: white;
}


/* 
======================
hypotenuese
====================== */



.img{
    width: 30%;
    height: auto;
}

.form{
    margin-top: 2rem;
}

.hypo-input{
    font-size: 1.3rem;
    background-color: var(--primary-color);
    padding: 00.5rem;
    margin: 0 0.7rem;
    color: white;
    text-align: center;
    width: 20%;

}

.hypo-main{
    margin-top: 1.5rem;
}